*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    width: 1200px; 
    margin:auto;
}

/* header */

header{
    height: 150px;
}

.title h1{
    font-size: 3rem;
    text-align: center;
    line-height: 3;
}

.title span{
    color:  #4F709C;
}

/* section */
section{
    height: auto;
    width: 1200px;
    overflow: hidden;
}

.concept img{
    width: 100%;
  }

/* section design */

.design{
    padding-top: 4rem;
}

.design h1{
    font-size: 3rem;
    text-align: center;
    line-height: 3;
}

/* section web design */

.design .web{
    overflow: scroll;
    border: solid 1px #4F709C;
    height: 500px;
    width: 800px;
    float: left;
}
.design .web img{
    width: 100%;
    border-top: 1px solid #4F709C;
}

.design .web h3{
    font-size: 1.7rem;
    text-align: center;
    padding: .5rem;
}

/* section mobile design */

.design .mobile{
    overflow: scroll;
    border: solid 1px #4F709C;
    height: 500px;
    width: 350px;
    float: left;
    margin-left: 2rem;
}

.design .mobile img{
    width: 100%;
    border-top: 1px solid #4F709C;
}

.design .mobile h3{
    font-size: 1.7rem;
    text-align: center;
    padding: .5rem;
}

/* scrollbar */
.web::-webkit-scrollbar{
    width: 15px;
}
.web::-webkit-scrollbar-track{
   background-color: #ffffff;
   border-radius: 5px;
}
.web::-webkit-scrollbar-thumb{
   background-color:#444;
   border-radius: 5px;
}
.mobile::-webkit-scrollbar{
    width: 15px;
}
.mobile::-webkit-scrollbar-track{
   background-color: #ffffff;
   border-radius: 5px;
}
.mobile::-webkit-scrollbar-thumb{
   background-color:#444;
   border-radius: 5px;
}
   
/* footer */
footer{
    clear: both;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 3rem;
    
}
.btn{
    width: 6rem;
    height: 3rem;
    font-size: 1.2rem;
    list-style: none;
    background: #4f709c;
    border: 0;
}

.btn a{
    text-decoration: none;
    color: #fff;
}




/* 화면너비 0 ~ 768px */
@media (max-width:768px){
 .project{
    width: 758px;
 }
 .title{
    width: 758px;
 }
 .title h1{
    text-align: center;
 }
 .concept{
    width: 758px;
 }
 .concept img{
   width: 100%;
 }
 .design{
    width: 758px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
 }

  .design h1{
    font-size: 2rem;
    text-align: center;
 }

 .design .web{
    width: 650px;
    height: 500px;
    float: none;
 }

 .design .mobile{
    height: 500px;
    width: 350px;
    margin-left: 0;
 }
}


/* 화면너비 0~420px */
@media (max-width:420px){
    body{
        width: 350px;
        margin: auto;
    }
    .project{
        width: 350px;
        
     }
     .title{
        width: 350px;
        margin: auto;
     }
     .title h1{
        text-align: center;
        font-size: 2rem;
     }

     .concept{
        width: 350px;
     }
     .concept img{
       width: 100%;
     }
     .design{
        width: 350px;
     }
    
      .design h1{
        font-size: 1.5rem;
     }
    
     .design .web{
        width:500px;
        height: 290px;
     }
     .footer{
        width: 350px;
        margin-left: 0;
     }
     .btn{
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
     }
     }
